.section-shadow {
    margin: 5px 0px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.section {
    margin: 10px 0px;
}

.import-rememberry-json {
    width: 100%;
    height: 500px;
}

.without-label-align {
    margin-top: 37px;
}

/* vocab test page*/
.run-test-table th, run-test-table td, run-test-table {
    width: 30%;
}
.run-test-table .big-text {
    font-size: 24px;
}